<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./../public/stylesheets/style.css' />

	<meta name="description" content="TA Toolbox made for EG 1003">
    <meta name="Author" content="Joe Kracz, Head TA 2018-2019">
  </head>
  <body>
    {{{body}}}

	<script src="/javascripts/scripts.js"></script>
  </body>
</html>
